In [14]:
import os
import pandas as pd

from pyutils.database.dataframe_query import HashKeyQuery
from pyutils.database.github_database.github_dataframe import GitHubDataFrame
from fintools.datareader import get_root_database

In [9]:
access_token = input()

In [13]:
bin_dpath = os.path.join(os.path.dirname(os.getcwd()), "bin")

In [3]:
root_database = get_root_database()

#### Initialize HS-Switching Query

In [6]:
hs_metadata_query = HashKeyQuery(
    "hs_metadata_query",
    description="Abstraction for querying Harmonized System (HS) metadata based on version."
)

In [7]:
root_database.add_child_node(hs_metadata_query)

#### Add HS5 Metadata

In [15]:
hs5_metadata_node = GitHubDataFrame(
    "hs5_metadata",
    description="Metadata for Harmonized System (HS) version 5 (2017).",
    data_source="https://wcoomd.org"
)

root_database.add_connected_child_node(hs5_metadata_node, relative_dpath="metadata")
hs5_metadata_pdf = pd.read_csv(os.path.join(bin_dpath, "hs5_metadata.csv"))

hs5_metadata_node.save_data(hs5_metadata_pdf, access_token=access_token)

In [16]:
hs_metadata_query.add_child_node(hs5_metadata_node, "H5")

In [17]:
root_database.save_database_memory(access_token=access_token)

#### Saving Database

In [ ]:
root_database.save_database_memory(access_token=access_token)

#### Check Update

In [28]:
get_root_database().get_child_node("hs_metadata_query").read_data("H5")

,HSVersionCode,commodityCode,aggregationLevelFactor,description
RdfsIndex,,,,
0,5010000,1,4,Live animals
1,5010100,101,2,"Live horses, asses, mules and hinnies"
2,5010200,102,2,Live bovine animals
3,5010300,103,2,Live swine
4,5010400,104,2,Live sheep and goats
...,...,...,...,...
1316,5970400,9704,2,"Postage or revenue stamps, stamp-postmarks, fi..."
1317,5970500,9705,2,Collections and collectors' pieces of zoologic...
1318,5970600,9706,2,Antiques of an age exceeding 100 years
1319,5990000,99,4,Commodities not specified according to kind
1320,5999900,9999,2,Commodities not specified according to kind